*{
    margin: 0;
    padding: 0;
}

.corpo{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: rgb(50, 14, 85);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cab-ima{
    width: 12%;
}

.cab-list{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.cont-imag{
    width: 18%;
    border-radius: 10%;
}

.site{
    background-image: linear-gradient(rgb(50, 14, 85), rgb(130, 25, 228));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
}

.site-div-cont{
    width: 35%;
}

.site-titulo{
    padding: 20px 0;
}

.estudante-imagem{
    width: 220px;
    height: 270px;
}

.estudante-div{
    text-align: center;
    padding: 20px;
}

.students{
    text-align: center;
    padding: 50px;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.formulariocs

.rodape{
    background-color: black;
    text-align: center;
    color: white;
}

.rodape-img{
    width: 5%;
    padding: 12px 0;
}